
    <blockquote>
      <div class="page-header" "jumbotron">
        <h1>Payment</h1>
        <h2>A <%= @term %> year loan of $<%= @balance %>, with an annual interest rate of <%= @rate / 100 %>%, requires a monthly payment of <%= number_to_currency(@pmt) %>.  </h2>

      </div> 
    </blockquote>