
    <blockquote>
      <div class="page-header" "jumbotron">
        <h1>Payment</h1>
        <h2>A <%= @term %> year loan of $<%= @balance %>, with an annual interest rate of <%= @rate %>%, requires a monthly payment of <%= @payment %>.  </h2>
      </div> 
    </blockquote>