    <blockquote>
      <div class="page-header" "jumbotron">
        <h1>Random Number</h1>
        <h2>A random number between <%= @num1 %> and <%= @num2 %> is <%= @random %>.  </h2>
      </div> 
    </blockquote>