
    <blockquote>
      <div class="page-header" "jumbotron">
        <h1>Square</h1>
        <h2>The square of <%= @number %> is <%= @square.round(2)%>.  </h2>
      </div> 
    </blockquote>

<!-- <div class="panel panel-default">
  <div class="panel-heading" >Square Root</div>
  <div class="panel-body">
    The square of <%= @number %> is <%= @number * @number %>. 
  </div>
</div> -->
