
    <blockquote>
      <div class="page-header" "jumbotron">
        <h1>Square Root</h1>
        <h2>The square root of <%= @number %> is <%= @sqr_rt.round(2)%>.  </h2>
      </div> 
    </blockquote>